includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
    excludePaths:
        analyseAndScan:
            - app/Modules/*/Database/Migrations/*
            - app/Modules/*/Tests/**/*
    checkOctaneCompatibility: true
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false
    parallel:
        maximumNumberOfProcesses: 8
